{% extends "base.html" %}

{% block content %}

<div class="nav-bar-sep d-lg-none"></div>
<div class="outer-container home-page" style = "padding: 0; margin-left: 100px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="search-control">
                </div>
            </div>
        </div>
        <div class="row">
        {% for entry in entries %}
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <img src="{{ entry.image_url }}" alt="">
                    </figure>
                    <li> {{ entry.image_desc }}</li>
                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                    <form method="post" action="/api/image/favorites/delete" class = "comment form">
                        <input type="hidden" name="image_id" value="{{ entry.image_id }}">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="form_base" value="favorites">
                        <input type="submit" value="Удалить из избранного">
                    </form>
                        <ul class="flex flex-wrap justify-content-center"></ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->
            {% endfor %}
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .outer-container -->

{% endblock %}