{% extends "base.html" %}

{% block content %}

<div class="nav-bar-sep d-lg-none"></div>

<div class="outer-container home-page"  style = "padding: 0; margin-left: 100px">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="search-control">
                    <form  method="post" action="" novalidate>
                        <div class="comments-form">
                            <div class="comment-respond">
                                {{ form.hidden_tag() }}
                                <br>
                                   <h3 class="comment-reply-title">{{ form.search.label }}</h3>
                                    {{ form.search(size=32) }}
                                <br>
                                    {{ form.submit() }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for stap in range(1, 9) %}
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                            <img src="{{url_for('static', filename='images/') }}{{stap}}.jpg" alt="">
                        <!-- para preguntar a como hacerlo correcto -->
                    </figure>
                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                        <h3><a href="#">Flower Skin</a></h3>

                        <ul class="flex flex-wrap justify-content-center">
                            <li><a href="#">Portfolio,</a></li>
                            <li><a href="#">Tree</a></li>
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->
            {% endfor %}
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .outer-container -->

{% endblock %}

