{% extends "base.html" %}

{% block content %}

<div class="nav-bar-sep d-lg-none"></div>
<div class="outer-container home-page">
    <div class="container-fluid">
        {% for entry in entries %}
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 no-padding">
                <div class="portfolio-content">
                    <figure>
                        <p style="margin-left: 100px"><img src="{{ entry.urls.small }}" alt="">
                    </figure>
                    <br> <p style="margin-left: 100px">{{ entry.description }}
                    <div class="entry-content flex flex-column align-items-center justify-content-center">
                    <form method="post" action="/api/image/favorites/add">
                        <input type="hidden" name="image_id" value="{{ entry.id }}">
                        <input type="hidden" name="image_url" value="{{ entry.urls.small }}">
                        <input type="hidden" name="image_full" value="{{ entry.urls.full }}">
                        <input type="hidden" name="description" value="{{ entry.description }}">
                        '{{ favorite.image_url }}'
                        '{{ entry.urls.small }}'
                        {% if favorite %}
                            {% for img in favorite %}
                                {% if favorite.image_url == entry.urls.small %}
                                    <input type="hidden" name="action" value="delete">
                                    <input type="submit" value="Удалить из избранного">
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <input type="hidden" name="action" value="add">
                            <input type="submit" value="Добавить в избранное">
                        {% endif %}
                    </form>
                        <ul class="flex flex-wrap justify-content-center">
                            <!--<li><a href="{{ url_for('delete_image', image_url=entry.urls.small) }}">Удалить из избранного</a></li>-->
                        </ul>
                    </div><!-- .entry-content -->
                </div><!-- .portfolio-content -->
            </div><!-- .col -->
        </div><!-- .row -->
        {% endfor %}
    </div><!-- .container-fluid -->
</div><!-- .outer-container -->

{% endblock %}